@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: #f4f4f4;
    color: #333;
}

.navbar, .navbar-home {
    background-color: #333; /* Change this to your preferred color */
    overflow: hidden;
}

.navbar a , .navbar-home a {
    float: left;
    display: block;
    color: #f2f2f2; /* Text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px; /* Font size */
}

.navbar a:hover , .navbar-home a:hover{
    background-color: #ddd; /* Change this to your preferred color */
    color: black;
}

.active {
    background-color: #4CAF50; /* Change this to your preferred color */
    color: white;
}

#logr {
    float: right;
    display: block;
    color: #f2f2f2; /* Text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px; /* Font size */
}