{% extends "base.html" %}
{% load static %}

{% block title %}
To Do Home
{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "to_do_list/home.css" %}">
{% endblock css_files %}



{% block content %}
<header>
  {% include "to_do_list/includes/nav_bar.html" %}
</header>
<h1> welcome to my To DO home page </h1> 
  <section class = "crete_user">
  </section>

<section class="section-card">
  <h2>Currently in Progress Tasks</h2>
  <ul>
    {% for task in tasks %}
    <li class="task-item">{{task.task_name}}</li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}


